{% extends 'main/base.html' %}

{% block title %}Marlia — Товари{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Наші товари</h1>
    <a href="{% url 'home' %}" class="btn-back">← На головну</a>

    <div class="categories">
        <a href="{% url 'products' %}" class="cat-btn {% if not selected_category %}active{% endif %}">Всі</a>
        {% for cat in categories %}
        <a href="{% url 'category_detail' cat.id %}" class="cat-btn">{{ cat.name }}</a>
        {% endfor %}
    </div>

    <div class="card-grid">
        {% for product in products %}
        <div class="product-card">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
            <div class="no-image">Фото відсутнє</div>
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description|truncatewords:10 }}</p>
            <span class="price">{{ product.price }} грн</span>
            <div class="product-card-buttons">
                <a href="{% url 'product_detail' product.id %}" class="btn-detail">Детальніше</a>
                <button class="btn" disabled>🛒 Купити</button>
            </div>
        </div>
        {% empty %}
        <p>Товарів поки немає</p>
        {% endfor %}
    </div>
</section>
{% endblock %}